{
  "openapi": "3.0.1",
  "info": {
    "title": "UniDex Pool API",
    "description": "API for accessing UniDex pool information across different chains",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pool.unidexapi.com"
    }
  ],
  "paths": {
    "/pools": {
      "get": {
        "description": "Returns all pools across supported chains",
        "responses": {
          "200": {
            "description": "Successful response with pool data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "optimism": {
                      "type": "object"
                    },
                    "arbitrum": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Pool"
                      }
                    },
                    "zksync": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Pool"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pool": {
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "description": "URL of the pool's currency logo"
          },
          "currency": {
            "type": "string",
            "description": "Address of the pool's currency contract"
          },
          "name": {
            "type": "string",
            "description": "Name of the pool"
          },
          "feePercentage": {
            "type": "integer",
            "description": "Fee percentage for the pool"
          },
          "decimals": {
            "type": "integer",
            "description": "Number of decimals for the pool's currency"
          },
          "dailyTokenIncentives": {
            "type": "number",
            "description": "Daily token incentives for the pool"
          },
          "description": {
            "type": "string",
            "description": "Description of the pool"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol of the pool"
          },
          "Utilization": {
            "type": "string",
            "description": "Utilization rate of the pool"
          },
          "MinimumDepositTime": {
            "type": "string",
            "description": "Minimum deposit time in seconds"
          },
          "OpenInterest": {
            "type": "string",
            "description": "Open interest of the pool"
          },
          "TVL": {
            "type": "string",
            "description": "Total Value Locked in the pool"
          },
          "WithdrawFee": {
            "type": "string",
            "description": "Withdraw fee percentage"
          },
          "Currency": {
            "type": "string",
            "description": "Address of the pool's currency contract (duplicate of 'currency')"
          },
          "1DayData": {
            "$ref": "#/components/schemas/PoolData"
          },
          "7DayData": {
            "$ref": "#/components/schemas/PoolData"
          },
          "30DayData": {
            "$ref": "#/components/schemas/PoolData"
          },
          "365DayData": {
            "$ref": "#/components/schemas/PoolData"
          }
        }
      },
      "PoolData": {
        "type": "object",
        "properties": {
          "APR": {
            "type": "string",
            "description": "Annual Percentage Rate"
          },
          "RewardAPR": {
            "type": "string",
            "description": "Reward Annual Percentage Rate"
          },
          "TotalReturn": {
            "type": "number",
            "description": "Total return for the period"
          },
          "PnL": {
            "type": "number",
            "description": "Profit and Loss for the period"
          },
          "Fees": {
            "type": "number",
            "description": "Fees collected for the period"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    }
  }
}